.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: #006A86;
  --gray-alpha-100: #bb833a5a;

  --button-primary-hover: #BB843A;
  --button-secondary-hover: #006A86;

  
  font-family: var(--montserrat-regular-400);
}

.header {
  background-color: #bb833a5a;
  display: flex;
  justify-content: center;
  border-bottom: #006A86 solid 10px;
}

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 30px;
}

.heroImg {
  grid-column: 1 / 2;
  width: 100%;
}

.heroInfo {
  grid-column: 2 / 3;
  margin-left: 25px;
}

.heroTitle {
  padding-bottom: 25px;
}

.heroTitle strong{
  color: #bb833a;
  font-weight: 800 ;
}

.heroTitle p {
  font-size: 4.5vw;
  font-style: italic;
  font-weight: 500;
  color: #006A86;
  line-height: 1em;
}

.inviteText {
  font-size: 2vw;
  font-weight: 600;
  padding-bottom: 25px;
}

.joinButton {
  background-color: #006A86;
  width:150px;
  height: 40px; 
  border: 0; 
  color: white;
  font-family: montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;  
  padding: 10px;
}

.joinButton:hover {
  background-color: #bb833a;
  width:150px;
  height: 40px; 
  border: 0; 
  color: black;
  font-family: montserrat;
  font-size: 20px;
}


/*for the alternative dashboard*/

.container {
  min-height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterButton {
  background: #0070f3;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* here finishes the new dashboard*/